*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background: #89D1D9;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100vh;
}

/* Bouton de Connexion*/
.btn-connexion{
    background: none;
    width: 250px;
    height: 60px;
    border: 4px solid #E9E3CA;
    font-size: 20px;
    font-weight: bold;
    color: #E9E3CA;
    transition: .3s linear;
    cursor: pointer;
    position: relative;
    border-radius: 5px;
}

/* Annimation bouton connexion */
.btn-connexion:hover{
    color: white;
}
.btn-connexion::before{
    content: "";
    position: absolute;
    width: 0;
    height: 55px;
    top: 0;
    left: 0;
    background-color: #E9E3CA;
    z-index: -1;
    transition: .3s linear;
}
.btn-connexion:hover::before{
    width: 245px;
}

/* Annimation bouton connexion */
.btn-connexion:hover{
    color: white;
}
.btn-connexion::before{
    content: "";
    position: absolute;
    width: 0;
    height: 55px;
    top: 0;
    left: 0;
    background-color: #E9E3CA;
    z-index: -1;
    transition: .3s linear;
}
.btn-connexion:hover::before{
    width: 245px;
}

.two{
    display: block;
    background: #fff;
    width: 450px;
    padding: 30px;
    box-shadow: 0 0 8px rgba(0,0,0,0.1);
    border-radius: 10px;
}

.two .close-btn{
    position: absolute;
    right: 20px;
    top: 15px;
    font-size: 18px;
    cursor: pointer;

}
.two .close-btn:hover{
    color: #E9E3CA;
}
.two .text{
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    color: #F2A413;
}

a {
    color: #2484BF;
}
.two form{
    margin-top: -20px;
}
.two form .data{
    height: 45px;
    width: 100%;
    margin: 40px 0;
}
form .data label{
    font-size: 18px;
}
form .data input{
    height: 100%;
    width: 100%;
    padding-left: 10px;
    font-size: 17px;
    border: 1px solid silver;
}
form .data input:focus{
    border-color: #F2A413;
    border-bottom-width: 2px;
}
form .forgot-pass{
    margin-top: -8px;
}
form .forgot-pass a{
    color: #F2A413;
    text-decoration: none;
}
form .forgot-pass a:hover{
    text-decoration: underline;
}
form .btn{
    margin: 30px 0;
    height: 45px;
    width: 100%;

}
.btn-form{
    background: none;
    width: 250px;
    height: 50px;
    border: 4px solid black;
    font-size: 20px;
    font-weight: bold;
    color: black;
    transition: .3s linear;
    cursor: pointer;
    position: relative;
    border-radius: 10px;
    margin-left: 70px;
}


.btn-form:hover{
    color: #E9E3CA;
}


form .signup-link{
    text-align: center;
}
form .signup-link button{
    color: #F2A413;
    text-decoration: none;
    border: none;
    background: none;
    cursor: pointer;
}
form .signup-link button:hover{
    text-decoration: underline;
}