body{
    background: #89D1D9;
    display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(4, 1fr);/* Creates 4 Rows, each of 1 frame*/
    text-align: center;
}

/*Placement*/
#topLeftBox{
    grid-area: 1 / 1 / 4 / 2;
}
#bottomLeftBox{
    grid-area: 4 / 1 / 5 / 2; /* row start / column start / row end / column end*/
}

#game{
    grid-area: 1 / 2 / 5 / 5;
    border: solid 2px red;
}

#topRightBox{
    grid-area: 1 / 5 / 2 / 6;
    border: solid 2px orange;
}
#bottomRightBox{
    grid-area: 2 / 5 / 5 / 6;
    border: solid 2px green;
}

/*Visual*/

/*Centered Board*/
#monopalimBoard{
    display: block;
}
#monopalimBoard #gameBox{
    border: solid 1px black;
	box-sizing: border-box;
	vertical-align: middle;
	text-align: center;
    width: 90px;
    height: 65px;
}

/*Cards On left Top Side*/
#topLeftBox{
    position: relative;
    /*Images*/
    background-size: cover;
    background-repeat: no-repeat;
    border: solid 2px white;
}
#boxInfo{
    font-size: 18px;
    border: none;
    width:100%;
    /*Vertical Align*/
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    
}
/*Css for box type */
#boxType{
    color: black;
    font-weight: bold;
}
/*Css Community & Chance cards*/
#cardContent{
    font-size: 20px;
    margin: 2px;
    color: black;
    font-weight: bold;
    text-decoration: underline;
    letter-spacing: 3px;  
    text-shadow: 2px 2px 5px red;
}
/*Css Question*/
/*Button "Answers"*/
#answerContent button{
    transition-duration: 0.4s;
    width: 60%;
    height: 50%;
    border-radius: 4px;
    padding: 15px 32px;
    margin: 1px;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    border: 2px solid #4CAF50;
}
#answerContent button:hover{
    background-color: #4CAF50;
    color: white;
}
/*Button "Valider"*/
#validAnswer button{
    position: relative;
    border-radius: 4px;
    background-color: #4CAF50;
    border: none;
    font-size: 15px;
    color: #FFFFFF;
    padding: 20px;
    width: 30%;
    text-align: center;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    margin: 1px;
}
#validAnswer button::after {
    content: "";
    background: #f1f1f1;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}
#validAnswer button:active:after{
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}
/*Css Propriety*/
#proprietyContent table{
    border: 1px solid #dee2e6;
    border-collapse: collapse;
    width: 90%;
    transform: translateX(5%);
}
#proprietyContent table th{
    border: 1px solid #dee2e6;  
    font-size: 15px!important;
    background-color: #dc3545;
    height: 60px;
}
#proprietyContent table td{
    border: 1px solid #dee2e6;
    background-color: #17a2b8;
    height: 60px;
}
#proprietyContent table td:hover{
    background-color: #F2A413;
}

/*Infos on bottom left side*/
#bottomLeftBox{
    position: relative;
    border: 2px solid blue;
}
#playerInfo{
    font-size: 18px;
    border: none;
    width:100%;
    font-weight: bold;
    /*Vertical Align*/
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
/*Player's money*/
#moneyDiv{
    color: red;
}
#moneyTxt img{
    width: 15%;
    height: auto;
}
/*Player's HB*/
#hbDiv{
    color: green;
}
#hbDiv progress{
    display: inline-block;
    -moz-box-sizing: border-box;
         box-sizing: border-box;
    width: 75%;
    height: auto;
    padding: 3px 3px 2px 3px;
    background: #333; 
    background: -webkit-linear-gradient(#2d2d2d,#444);
    background:    -moz-linear-gradient(#2d2d2d,#444);
    background:      -o-linear-gradient(#2d2d2d,#444);
    background:         linear-gradient(#2d2d2d,#444);
    border: 1px solid rgba(0,0,0,.5);
    border-radius: 15px;
    box-shadow: 0 1px 0 rgba(255,255,255,.2); 
}
#hbDiv progress::-moz-progress-bar{
    border-radius:10px;
    background: #09c;
    background: 
      -moz-repeating-linear-gradient(
        45deg, 
        rgba(255,255,255,.2) 0,
        rgba(255,255,255,.2) 10px, 
        rgba(255,255,255,0) 10px,
        rgba(255,255,255,0) 20px
      ),
      -moz-linear-gradient(
        rgba(255,255,255,.1) 50%,
        rgba(255,255,255,0) 60%
      ),
      #09c;
    background: 
      repeating-linear-gradient(
        45deg, 
        rgba(255,255,255,.2) 0,
        rgba(255,255,255,.2) 10px, 
        rgba(255,255,255,0) 10px,
        rgba(255,255,255,0) 20px
      ),
      linear-gradient(
        rgba(255,255,255,.1) 50%,
        rgba(255,255,255,0) 60%
      ),
      #09c;
    background-size: 300px 20px, auto, auto;
    background-position: -300px 0, top, top;
    background-position: top right, top, top;
    box-shadow: 0 1px 0 rgba(255,255,255,.5) inset, 
                0 -1px 0 rgba(0,0,0,.8) inset,
                0 0 2px black;
  
}
/*taxe's pot*/
#taxesDiv{
    color: blue;
}

/*Game in the middle*/

/*Actions in the top right corner*/
#topRightBox{

}
/*Propriety Tab in the Bottom right corner*/
#bottomRightBox{
    font-weight: bold;
    font-size: 18px;
}
#bottomRightBox table{
    width: 100%;
    height: 100%;
}
#bottomRightBox table th{
}