:root {
    --jumbotron-padding-y: 3rem;
}

.jumbotron {
    padding-top: var(--jumbotron-padding-y);
    padding-bottom: var(--jumbotron-padding-y);
    margin-bottom: 0;
    background-color: #fff;
}
@media (min-width: 768px) {
    .jumbotron {
        padding-top: calc(var(--jumbotron-padding-y) * 2);
        padding-bottom: calc(var(--jumbotron-padding-y) * 2);
    }
}

.jumbotron p:last-child {
    margin-bottom: 0;
}

.jumbotron-heading {
    font-weight: 300;
}

.jumbotron .container {
    max-width: 40rem;
}

footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

footer p {
    margin-bottom: .25rem;
}

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

#importantrules { 
    border : 3px groove #0f6980; 
    margin: 1em 20%; 
    top : 10px;
    } 
    
#identity { 
    border : 3px groove #0f6980; 
    position: absolute; 
    top: 80px; 
    left: 1%; 
    width: 18%; 
    } 
     
    
#gamemodes { 
    border : 3px groove #0f6980;
    position: absolute; 
    top: 80px; 
    right: 1%; 
    width: 18%; 
    } 
    
#propertyactions { 
    border : 3px groove #0f6980;  
    margin: 1em 20%; 
    } 
    
#specialcases {
        border : 3px groove #0f6980; 
        position: absolute; 
        top: 500px; 
        right: 1%; 
        width: 18%;
    }
    
#details { 
        border : 3px groove #0f6980; 
        position: absolute; 
        top: 500px; 
        left: 1%; 
        width: 18%;
    } 
    
#houseimprovment { 
        border : 3px groove #0f6980;  
        margin: 1em 20%;   
        } 
